// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#graph {
  div {
    background: #888;
    height: 10px;
    margin: 5px;
  }
}
